".source.bbcode-hz":
  "Bold (bold)":
    prefix: "bold"
    body: "[b]${1:text}[/b]$0"
  "Italic (italic)":
    prefix: "italic"
    body: "[i]${1:text}[/i]$0"
  "Underline (underline)":
    prefix: "underline"
    body: "[u]${1:text}[/u]$0"
  "Strike (strike)":
    prefix: "strike"
    body: "[s]${1:text}[/s]"
  "Color (color)":
    prefix: "color"
    body: "[color=${1:#html_color_code}]${2:text}[/color]$0"
  "Highlighted (highlighted)":
    prefix: "highlight"
    body: "[hl]${1:text}[/hl]"
  "Size (size)":
    prefix: "size"
    body: "[size=${1:text_size}px]${2:text}[/size]$0"
  "Code (code)":
    prefix: "code"
    body: "[code}}]${1:text}[/code]$0"
  "Image (img)":
    prefix: "img"
    body: "[img]${1:image_link}[/img]$0"
  "Link (url)":
    prefix: "url"
    body: "[url=${1:link}]${2:text}[/url]$0"
  "Align Left (left)":
    prefix: "left"
    body: "[left}}]${1:text}[/left]$0"
  "Align Center (Center)":
    prefix: "center"
    body: "[center}}]${1:text}[/center]$0"
  "Align Right (right)":
    prefix: "right"
    body: "[right}}]${1:text}[/right]$0"
  "Quote (quote)":
    prefix: "quote"
    body: "[quote=${1:name}]${2:copied_text}[/quote]$0"
  "Ordered List":
    prefix: "ol"
    body: '''
      [ol]
      [*] ${1:text}
      [/ol]$0
    '''
  "Ordered List (A)":
    prefix: "list"
    body: '''
      [list=A]
      [*] ${1:text}
      [/list]$0
    '''
  "Unordered List":
    prefix: "ul"
    body: '''
      [ul]
      [*] ${1:text}
      [/ul]$0
    '''
  "List Item":
    prefix: "li"
    body: "[*] $0"
  "Horizontal Line (line)":
    prefix: "hr"
    body: "[hr]$0"
  "Video (video)":
    prefix: "video"
    body: "[video]${1:videourl}[/video]$0"
  "Audio (audio)":
    prefix: "audio"
    body: "[audio]${1:audiourl}[/audio]$0"
  "NoBB (nobb)":
    prefix: "nobb"
    body: "[nobb]${1:text}[/nobb]$0"
  "Identity aware link (zrl)":
    prefix: "zrl"
    body: "[zrl=${1:Identity aware link}]${2:Link text}[/zrl]$0"
  "Identity aware image (zmg)":
    prefix: "zmg"
    body: "[zmg]${1:Identity aware image link}[/zmg]$0"
  "Observer authenticated (observer)":
    prefix: "observer"
    body: "[observer=1]${1:Text to display if authenticated}[/observer]$0"
  "Observer not authenticated (no-observer)":
    prefix: "no-observer"
    body: "[observer=0]${1:Text to display if not authenticated}[/observer]$0"
  "Observer Language (observer.language)":
    prefix: "language"
    body: "[observer.language=${1:language}]${2:Text to display in selected language}[/observer]$0"
  "Observer Language NOT (observer.language)":
    prefix: "not-language"
    body: "[observer.language!=${1:language}]${2:Alternative language text to display}[/observer]$0"
  "Channel URL (observer.url)":
    prefix: "observer.url"
    body: "[observer.url]$0"
  "Base URL (observer.baseurl)":
    prefix: "baseurl"
    body: "[observer.baseurl]/$0"
  "Observer Name (observer.name)":
    prefix: "observer.name"
    body: "[observer.name]$0"
  "Observer nick name (observer.webname)":
    prefix: "observer.webname"
    body: "[observer.webname]$0"
  "Observer nick name (observer.address)":
    prefix: "observer.address"
    body: "[observer.address]$0"
  "Observer nick name (observer.photo)":
    prefix: "observer.photo"
    body: "[observer.photo]$0"
  "Spoiler (spoiler)":
    prefix: "spoiler"
    body: "[spoiler]${1:Text you want to hide}[/spoiler]$0"
  "QR Code (qr)":
    prefix: "qr"
    body: "[qr]${1:Text to convert}[/qr]$0"
  "Map coordinates (map-c)":
    prefix: "map-coordinates"
    body: "[map=${1:latitude,longitude}]$0"
  "Map Place Name (map-n)":
    prefix: "map-name"
    body: "[map]${1:Name of Place}[/map]$0"
  "Copyright (c)":
    prefix: "copy"
    body: "[&copy]$0"
