".source.bbcode":
  "Bold (bold)":
    prefix: "bold"
    body: "[b]${1:text}[/b]$0"
  "Italic (italic)":
    prefix: "italic"
    body: "[i]${1:text}[/i]$0"
  "Underline (underline)":
    prefix: "underline"
    body: "[u]${1:text}[/u]$0"
  "Strike (strike)":
    prefix: "strike"
    body: "[s]${1:text}[/s]"
  "Color (color)":
    prefix: "color"
    body: "[color=${1:#html_color_code}]${2:text}[/color]$0"
  "Highlighted (highlighted)":
    prefix: "highlight"
    body: "[hl]${1:text}[/hl]"
  "Size (size)":
    prefix: "size"
    body: "[size=${1:text_size}px]${2:text}[/size]$0"
  "Code (code)":
    prefix: "code"
    body: "[code}}]${1:text}[/code]$0"
  "Image (img)":
    prefix: "img"
    body: "[img]${1:image_link}[/img]$0"
  "Link (url)":
    prefix: "url"
    body: "[url=${1:link}]${2:text}[/url]$0"
  "Align Left (left)":
    prefix: "left"
    body: "[left}}]${1:text}[/left]$0"
  "Align Center (Center)":
    prefix: "center"
    body: "[center}}]${1:text}[/center]$0"
  "Align Right (right)":
    prefix: "right"
    body: "[right}}]${1:text}[/right]$0"
  "Quote (quote)":
    prefix: "quote"
    body: "[quote=${1:name}]${2:copied_text}[/quote]$0"
  "Ordered List":
    prefix: "ol"
    body: '''
      [ol]
      [*] ${1:text}
      [*] ${2:text}
      [/ol]$0
    '''
  "Unordered List":
    prefix: "ul"
    body: '''
      [ul]
      [*] ${1:text}
      [*] ${2:text}
      [/ul]$0
    '''
