scopeName: 'source.bbcode-hz'
name: 'BBcode'
fileTypes: ['bbz', 'bbcode']

patterns: [
	{
		include: '#keywords'
	}
	{
			include: '#constants'
	}
]

repository:
	keywords:
		patterns: [
			{
          match: "\\b(B|I|U|COLOR|SIZE|CODE|IMG|URL|LEFT|CENTER|RIGHT|QUOTE)\\b"
          name: "support.keyword.bbcode"
      }
			{
          match: "(/B|/I|/U|/COLOR|/SIZE|/CODE|/IMG|/URL|/LEFT|/CENTER|/RIGHT|/QUOTE)\\b"
          name: "support.keyword.bbcode"
      }
			{
          match: "\\[|\\]"
          name: "constant.keyword.bbcode"
      }
]
